@model EMedFinalProject.Models.OrderViewModel

@{
    ViewData["Title"] = "Confirmed Order Details";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<h2 style="color:blue; margin-bottom:30px;">E<span class="Dash" style="color: pink;">-</span><span class="Dash" style="color:Red;">Med</span><span style="Color:black; float: right;">Product Details</span></h2>
<a asp-action="ConfirmedOrders">Back to OrderList</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Milligrams
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Milligrams
                </td>
            </tr>
        }
    </tbody>
</table>
