@model EMedFinalProject.Models.BranchesViewModel;
@inject EMedFinalProject.Data.ApplicationDbContext _context;

@{
    Layout = "~/Views/Shared/_OrderLayout .cshtml";
    ViewData["Title"] = "Mercury Order Now";
    var branchList = _context.Branches.Where(b => b.PharmacyID == 1).ToList();
    var categoryList = _context.Methods.ToList();

}
@*<div id="ordersProc" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="color:red; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            mercury drug
        </h1>
        <h2>Online Order Form</h2>
    </div>
</div>*@
<!--<form id="regForm" action="/action_page.php" data-aos="fade-up">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
    <!-- One "tab" for each step in the form: -->
    <!--<div class="tab" id="step-1">
        <ul class="active-button">
            <li class="active">
                <a href="#step-1">
                    <span class="round-btn">1</span><span style="margin-left: 25px; color:  #1a1a1a">Personal Details</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">2</span><span style="margin-left: 50px; color:  #1a1a1a">Order Items</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">3</span><span style="margin-left: 45px;color:  #1a1a1a">Upload Images</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">4</span><span style="margin-left: 50px; color:  #1a1a1a">Select Branch</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">5</span><span style="margin-left: 25px; color:  #1a1a1a">Payment Method</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">6</span><span style="margin-left: 47px; color:  #1a1a1a">Confirmation</span>
                </a>
            </li>
        </ul>
        <h3 id="stepHeader">Personal Details</h3>
        <div class="row">-->

            @*<div class="col-sm-6">
                Last Name:<span class="required">*</span>
                <p><input asp-for="Orders." placeholder="Last name" oninput="this.className = ''"></p>
                <span asp-validation-for="Orders.LastName" class="text-danger"></span>
            </div>

            <div class="col-sm-6">
                First Name:<span class="required">*</span>
                <p><input asp-for="Orders.FirstName" placeholder="First name" oninput="this.className = ''"></p>
                <span asp-validation-for="Orders.FirstName" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            Contact No.<span class="required">*</span>
            <p><input asp-for="Orders.ContactNo" placeholder="Contact No" oninput="this.className = ''"></p>
            <span asp-validation-for="Orders.ContactNo" class="text-danger"></span>
        </div>*@
        @*<div class="form-group">
            Email:<span class="required">*</span>
            <p><input asp-for="Orders.Email" placeholder="Email" oninput="this.className = ''"></p>
            <span asp-validation-for="Orders.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            Delivery Address:<span class="required">*</span>
            <p><input asp-for="Orders.DeliveryAddress" placeholder="Delivery Address" oninput="this.className = ''"></p>
            <span asp-validation-for="Orders.DeliveryAddress" class="text-danger"></span>
        </div>*@
        <label class="control-label"></label><span class="required">*</span>
        <select class="form-control" style="width: 1100px;" asp-items="@(new SelectList(branchList,"PharmacyID", "BranchLocation"))">
            <option value="">--Select a Pharmacy--</option>
        </select>


   <!-- </div>
    <div class="tab" id="step-1">
        <ul class="active-button">
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">1</span><span style="margin-left: 25px; color:  #1a1a1a">Personal Details</span>
                </a>
            </li>
            <li class="active">
                <a href="#step-1">
                    <span class="round-btn">2</span><span style="margin-left: 50px; color:  #1a1a1a">Order Items</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">3</span><span style="margin-left: 45px;color:  #1a1a1a">Upload Images</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">4</span><span style="margin-left: 50px; color:  #1a1a1a">Select Branch</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <!--<span class="round-btn">5</span><span style="margin-left: 25px; color:  #1a1a1a">Payment Method</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">6</span><span style="margin-left: 47px; color:  #1a1a1a">Confirmation</span>
                </a>
            </li>
        </ul>
        <h3 id="stepHeader">Order Items</h3>
        <div class="input_fields_wrap">
            <div class="row">
                <div class="col-sm-6">-->
                    @*Product Name:<span class="required">*</span>
                    <input placeholder="Enter Product" oninput="this.className = ''" name="OrderDetails[0].ProductName">
                    <span asp-validation-for="OrderDetails.ProductName" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    Quantity:<span class="required">*</span>
                    <input placeholder="Quantity" oninput="this.className = ''" name="OrderDetails[1].Quantity">
                    <span asp-validation-for="OrderDetails.Quantity" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    Miligrams:<span class="required">*</span>
                    <input placeholder="Milligrams" oninput="this.className = ''" name="OrderDetails[2].Milligrams">
                    <span asp-validation-for="OrderDetails.Milligrams" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button class="add_field_button">+ Add More Products</button>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">Instructions:</label>
            <textarea asp-for="OrderDetails.Instructions" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" style="resize: none;  border: 1px solid #aaaaaa;
                padding: 10px" placeholder="Type your Instructions here..."></textarea>
            <span asp-validation-for="OrderDetails.Instructions" class="text-danger"></span>*@
        <!--</div>
    </div>
    <div class="tab">
        <ul class="active-button">
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">1</span><span style="margin-left: 25px; color:  #1a1a1a">Personal Details</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">2</span><span style="margin-left: 50px; color:  #1a1a1a">Order Items</span>
                </a>
            </li>
            <li class="active">
                <a href="#step-1">
                    <span class="round-btn">3</span><span style="margin-left: 45px;color:  #1a1a1a">Upload Images</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">4</span><span style="margin-left: 50px; color:  #1a1a1a">Select Branch</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">5</span><span style="margin-left: 25px; color:  #1a1a1a">Payment Method</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">6</span><span style="margin-left: 47px; color:  #1a1a1a">Confirmation</span>
                </a>
            </li>
        </ul>
        <h3 id="stepHeader">Upload Prescription and Valid ID</h3>
        <p>Prescription:<span class="required">*</span></p>-->
        @*<div class="custom-file mb-3">
            <input asp-for="Orders.Prescription" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile" name="prescription">Upload Prescription</label>
        </div>
        <p>Valid ID:<span class="required">*</span></p>
        <div class="custom-file mb-3">
            <input asp-for="Orders.ValidID" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile" name="validId">Upload Valid ID</label>
        </div>*@
    <!--</div>
    <div class="tab">
        <ul class="active-button">
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">1</span><span style="margin-left: 25px; color:  #1a1a1a">Personal Details</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">2</span><span style="margin-left: 50px; color:  #1a1a1a">Order Items</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">3</span><span style="margin-left: 45px;color:  #1a1a1a">Upload Images</span>
                </a>
            </li>
            <li class="active">
                <a href="#step-1">
                    <span class="round-btn">4</span><span style="margin-left: 50px; color:  #1a1a1a">Select Branch</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">5</span><span style="margin-left: 25px; color:  #1a1a1a">Payment Method</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">6</span><span style="margin-left: 47px; color:  #1a1a1a">Confirmation</span>
                </a>
            </li>
        </ul>
        <h3 id="stepHeader">Choose a Mercury Branch</h3>-->
        <!-- <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
        <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p> -->
    <!--</div>
    <div class="tab">
        <ul class="active-button">
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">1</span><span style="margin-left: 25px; color:  #1a1a1a">Personal Details</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">2</span><span style="margin-left: 50px; color:  #1a1a1a">Order Items</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">3</span><span style="margin-left: 45px;color:  #1a1a1a">Upload Images</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">4</span><span style="margin-left: 50px; color:  #1a1a1a">Select Branch</span>
                </a>
            </li>
            <li class="active">
                <a href="#step-1">
                    <span class="round-btn">5</span><span style="margin-left: 25px; color:  #1a1a1a">Payment Method</span>
                </a>
            </li>
            <li>
                <a href="#step-1">
                    <span class="round-btn">6</span><span style="margin-left: 47px; color:  #1a1a1a">Confirmation</span>
                </a>
            </li>
        </ul>
        <h3>Choose a Payment Method</h3>
        <select class="form-control" asp-items="@(new SelectList(categoryList, "PaymentMethodID", "Method"))">
            <option value="">Select one...</option>
        </select>
        <span  class="text-danger"></span>
    </div>
    <div class="tab">
        <ul class="active-button">
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">1</span><span style="margin-left: 25px; color:  #1a1a1a">Personal Details</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">2</span><span style="margin-left: 50px; color:  #1a1a1a">Order Items</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">3</span><span style="margin-left: 45px;color:  #1a1a1a">Upload Images</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">4</span><span style="margin-left: 50px; color:  #1a1a1a">Select Branch</span>
                </a>
            </li>
            <li class="success">
                <a href="#step-1">
                    <span class="round-btn">5</span><span style="margin-left: 25px; color:  #1a1a1a">Payment Method</span>
                </a>
            </li>
            <li class="active">
                <a href="#step-1">
                    <span class="round-btn">6</span><span style="margin-left: 47px; color:  #1a1a1a">Confirmation</span>
                </a>
            </li>
        </ul>
        <h3 id="stepHeader">Confirm Information and Orders</h3>-->
        <!-- <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
        <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p> -->
    <!--</div>
    <div>
        <div class="button-row">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="previous">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)" class="next">Next</button>
        </div>
    </div>-->
    <!-- Circles which indicates the steps of the form: -->
    <!--<div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    function pageUnload() {
        return "The data on this page will be lost if you leave";
    }
</script>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

