@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_OrderLayout .cshtml";
    ViewData["Title"] = "Mercury Terms and Conditions";
}
<div id="terms" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="color:red; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            mercury drug
        </h1>
        <h2>Order Online Terms and Conditions</h2>
    </div>
</div>
<div class="container" id="scrollbar" data-aos="fade-up">
    <div id="outerBox">
        <h3 id="termsAndConditionsIndicatorHeader">Terms and Conditions</h3>
        <div id="innerBox" style="font-family:'Times New Roman', Times, serif; font-size:inherit;" class="scrollBar">

            <h3 id="termHeader">Data Privacy Consent/Agreement</h3>
            <p>By accessing and using Order Online, you accept and agree to be bound by the terms and conditions of Mercury Drug’s <a href="/privacy-policy.html">Online Data Privacy Policy</a> for the purpose of availing of its services, administration of your account, processing of any transaction using your online account, and for other reasonable purposes which are related to your online account.</p>

            <h3 id="termHeader">Placing Your Order</h3>
            <p>You must provide all requested information for us to process your order.  Mercury Drug reserves the right to request additional information from you at any time to enable us to complete your order and/or to comply with government regulatory requirements.  Acceptance of order is subject to availability of the products ordered. Also, product assortment may vary in every Mercury Drug store. By placing an order, you confirm that the details you provided in the order page are true and correct in all respects.  The system will display a confirmation page that confirms successful receipt of your order.</p>

            <h3 id="termHeader">Confirmation of Your Order</h3>
            <p>After our receipt of your order, you shall receive an email that will notify you of the costs of the product/s you ordered.  Once you confirm your order, you will receive another email which shall provide the instructions on how to claim your purchased product/s at your selected Mercury Drug store.</p>

            <h3 id="termHeader">Prices of Products</h3>
            <p>Prices of product/s are quoted in Philippine Peso at their regular price, inclusive of Value-Added Tax (VAT).  Price quotes may change at any time without notice.</p>

            <p>In case of discounts, whether promotional or government-mandated, the applicable discount will be computed at the time of serving the order, subject to presentation of the required documents and proof of identity at the serving store.  All earned discounts will be credited to your personal account and shall be credited on your next purchase.</p>

            <h3 id="termHeader">Payment Terms</h3>
            <p>Payment for your order shall be made via credit card (Visa or MasterCard).  Your credit card will be charged based on the regular price of the product/s purchased, inclusive of Value-Added Tax (VAT), as indicated in the price quotation.</p>

            <h3 id="termHeader">Serving of Your Order</h3>
            <p>All transactions made through this online facility shall be processed in accordance with Philippine standard time. <!--Orders received from Mondays to Saturdays until 5:00 pm are deemed acknowledged and will be processed on the same day, while orders received after 5:00 pm or during Sundays and Holidays shall be attended to and processed on the following working day. --> </p>

            <p>The product/s purchased online shall be claimed or served only at the Mercury Drug store that you selected in the order form strictly in favor of your designated recipient, once you receive an email confirmation that your purchased product/s is/are ready for pick-up.</p>

            <p>Claiming of orders is subject to the regular store hours of the serving Mercury Drug store, the details of which shall be provided in the email confirming the availability of your product/s or which you can verify through our website, www.mercurydrug.com.</p>

            <p>The designation of your recipient authorized to receive/claim the product/s purchased online shall remain valid and effective unless sooner revoked or cancelled and until Mercury Drug is duly notified in writing or through email of the revocation, cancellation or change of recipient prior to the delivery/release of the products purchased. Any notice of revocation, cancellation or change of recipient requires processing lead time of at least 24 hours from Mercury Drug’s receipt of notice.</p>

            <p>When claiming the product/s, your designated recipient must present at least one valid I.D. as proof of his/her identity. It is hereby understood that your designation of recipient also grants him/her the authority to name or appoint his/her representative in case he/she cannot personally claim the product/s. In such event, your designated recipient must execute a letter of authority in favor of his/her representative which must be presented upon claiming the product/s. Your designated recipient or his/her representative, as the case may be, shall be required to sign on the acceptance form evidencing the receipt of the product/s in your behalf. A transaction receipt shall be issued upon serving/release of the products.</p>

            <p>For prescription medicines and transactions concerning senior citizens or persons with disability (PWD), your designated recipient or his/her representative must present a valid doctor’s prescription and other government mandated requirements at the time of claiming the product/s.  Mercury Drug reserves the right to withhold the release of any product or to deny the grant of any discount in case your designated recipient or his/her representative fails to comply with the aforesaid requirements.</p>

            <p><h4 id="termHeader">All confirmed orders must be claimed by the designated recipient or his/her representative within 7 days from date of advice of availability of your order.</h4> </p>

            <h3 id="termHeader">Order Cancellation</h3>
            <p>Any cancellation of order must be made within 24 hours after confirmation of your order but before the product/s are served/released to your designated recipient or his/her representative. Mercury Drug reserves the right to deny any request for cancellation which is made after the given period. All requests for cancellation and reversal of credit card charges shall be submitted by Mercury Drug to the issuing bank for processing and approval in accordance with banking rules and regulations.  </p>

            <p>Notwithstanding the foregoing, Mercury Drug reserves the right to cancel any transaction based on legal and justifiable grounds.</p>

            <h3 id="termHeader">Waiver and Indemnity</h3>
            <p>By using Mercury Drug’s Order Online Facility, you agree to indemnify and hold Mercury Drug, its directors, officers, employees, affiliates, agents, contractors and licensors (collectively referred to as MDC) free and harmless from any and all liabilities, losses and damages in case of failure of the online ordering system due to reasons beyond Mercury Drug’s reasonable control such as but not limited to force majeure and/or fortuitous event or which may arise from your failure to timely notify Mercury Drug of the revocation, cancellation or change of recipient.</p>

            <h3 id="termHeader">General</h3>
            <p>These Terms and Conditions of Use constitute the entire agreement between you and Mercury Drug and shall govern your use of Mercury Drug’s Order Online Facility. This agreement shall be governed by the laws of the Republic of the Philippines.</p>

            <p>By placing your order online, you confirm that you have read and understood all the terms and conditions expressed herein and voluntarily agree to be bound thereby with all applicable laws, statutes and regulations. Mercury Drug reserves the right to refuse or suspend this service to any person at any time based on reasonable grounds at the sole discretion of Mercury Drug.</p>

        </div>
        <div class="button-row">
            <a asp-action="Home" class="buttonDecline">Decline</a>
            <a asp-action="MercuryOrderProcess" class="buttonAccept">Accept</a>
        </div>
        
    </div>
</div>