@model EMedFinalProject.Models.BranchesViewModel;
@inject EMedFinalProject.Data.ApplicationDbContext _context;


@{
    Layout = "~/Views/Shared/_OrderProcessWizard.cshtml";
    ViewData["Title"] = "Mercury Order Now";
    var branchList = _context.Branches.Where(b => b.PharmacyID == 1).ToList();
    var categoryList = _context.Methods.ToList();
}
<div id="ordersProc" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="color:red; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            mercury drug
        </h1>
        <h2>Online Order Form</h2>
    </div>
</div>
<div class="containerBox" style="margin-top:160px;">
    <br />
    <form method="post" id="register_form">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active_tab1" style="border:1px solid #ccc" id="list_branch_details">Select Branch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" style="border:1px solid #ccc" id="list_login_details">Customer Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_personal_details" style="border:1px solid #ccc">Order Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_contact_details" style="border:1px solid #ccc">Upload Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_payment_details" style="border:1px solid #ccc">Payment Method</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_confirmation_details" style="border:1px solid #ccc">Confirmation</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top:16px;">
            <div class="tab-pane active" id="branch_details">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center;">Choose a Mercury Branch</div>
                    <div class="panel-body">
                        <label class="control-label">Select Mercury Branch</label><span class="required">*</span>
                        <select class="form-control" id="branchSelect" style="width: 1100px;" asp-items="@(new SelectList(branchList,"PharmacyID", "BranchLocation"))">
                            <option value="">--Select a Mercury Branch--</option>
                        </select>
                        <span id="error_branch" class="text-danger"></span>
                        <br />
                        <div align="center">
                            <button type="button" name="btn_branch_details" id="btn_branch_details">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="login_details">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center;">Personal Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name:</label><span class="required">*</span>
                                    <input type="text" name="lName" id="lName" class="form-control" />
                                    <span id="error_lastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>First Name:</label><span class="required">*</span>
                                    <input type="text" name="fName" id="fName" class="form-control" />
                                    <span id="error_firstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact No:</label><span class="required">*</span>
                            <input type="text" name="contactNo" id="contactNo" class="form-control" />
                            <span id="error_contactNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Email:</label><span class="required">*</span>
                            <input type="text" name="email" id="email" class="form-control" />
                            <span id="error_email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Delivery Address:</label><span class="required">*</span>
                            <input type="text" name="delivAdd" id="delivAdd" class="form-control" />
                            <span id="error_delivAdd" class="text-danger"></span>
                        </div>
                        <br />
                        <div align="center">
                            <button type="button" name="previous_btn_customer_details" id="previous_btn_customer_details" class="btn btn-default btn-lg">Previous</button>
                            <button type="button" name="btn_customer_details" id="btn_customer_details">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="personal_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Order Items</div>
                    <div class="panel-body">
                        <table id="paramsFields">
                            <tr valign="top">
                                <td scope="row"></td>
                                <td>
                                    <div class="row" style="margin-bottom:12px;">
                                        <div class="col-sm-6">
                                            Product Name:<span class="required">*</span>
                                            <input type="text" class="code" id="paramFieldName" name="paramKey[0]" placeholder="Product Name" />
                                            <span id="error_ProductName" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            Quantity:<span class="required">*</span>
                                            <input type="number" class="code" id="paramFieldValue" name="paramValue[0]" value="" placeholder="Quantity" />
                                            <span id="error_quantity" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            Milligrams:<span class="required">*</span>
                                            <input type="number" class="code" id="paramMilValue" name="paramMil[0]" value="" placeholder="Milligrams" />
                                            <span id="error_milligrams" class="text-danger"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr id="template" valign="top" hidden="hidden" aria-hidden="true">
                                <td></td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            Product Name:<span class="required">*</span>
                                            <input type="text" class="code" id="paramFieldName" name="paramKey[%]" value="" placeholder="Product Name" />
                                            <span id="error_ProductName" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            Quantity:<span class="required">*</span>
                                            <input type="number" class="code" id="paramFieldValue" name="paramValue[%]" value="" placeholder="Quantity" />
                                            <span id="error_quantity" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            Milligrams:<span class="required">*</span>
                                            <input type="number" class="code" id="paramMilValue" name="paramMil[%]" value="" placeholder="Milligrams" />
                                            <span id="error_milligrams" class="text-danger"></span>
                                        </div>
                                        <a href="javascript:void(0);" id="remove_field" class="remCF">Remove Product</a>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <a href="javascript:void(0);" id="add_field_button" class="addCF">+ Add Products</a>
                    </div>
                    <br />
                    <div align="center">
                        <button type="button" name="previous_btn_order_details" id="previous_btn_order_details" class="btn btn-default btn-lg">Previous</button>
                        <button type="button" name="btn_order_details" id="btn_order_details" class="btn btn-info btn-lg">Next</button>
                    </div>
                    <br />
                </div>
            </div>

            <div class="tab-pane fade" id="contact_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Upload Prescription and Valid ID</div>
                    <div class="panel-body">
                        <p>Prescription:<span class="required">*</span></p>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="prescription">
                            <label class="custom-file-label" for="customFile">Upload Prescription</label>
                            <span id="error_prescription" class="text-danger"></span>
                        </div>
                        <p>Valid ID:<span class="required">*</span></p>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="validIdFile" name="validId">
                            <label class="custom-file-label" for="customFile">Upload Valid ID</label>
                            <span id="error_validId" class="text-danger"></span>
                        </div>
                        <br />
                        <div align="center">
                            <button type="button" name="previous_btn_upload_details" id="previous_btn_upload_details" class="btn btn-default btn-lg">Previous</button>
                            @*<button type="button" name="btn_upload_details" id="btn_upload_details" class="btn btn-success btn-lg">Next</button>*@
                            <button type="button" name="btn_upload_details" id="btn_upload_details" class="btn btn-info btn-lg">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="payment_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Select Payment Method</div>
                    <div class="panel-body">
                        <label class="control-label">Payment Method</label><span class="required">*</span>
                        <select class="form-control" id="paymentMethod" asp-items="@(new SelectList(categoryList, "PaymentMethodID", "Method"))">
                            <option value="">--Select a Payment Method--</option>
                        </select>
                        <span id="error_paymentMethod" class="text-danger"></span>
                        <br />
                        <div align="center">
                            <button type="button" name="previous_btn_payment_details" id="previous_btn_payment_details" class="btn btn-default btn-lg">Previous</button>
                            <button type="button" name="btn_payment_details" id="btn_payment_details" class="btn btn-success btn-lg" onclick="getInputValue();">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="confirm_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Confirm Details</div>
                    <div class="panel-body">
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="header">Selected Branch</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                @*<td class="tdConf"  id="confSelectedBranch"></td>*@
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr>
                                <th class="header">Personal Details</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="thConf">Fullname</th>
                                <th class="thConf">Delivery Address</th>
                                <th class="thConf">Contact No</th>
                                <th class="thConf">Email</th>
                            </tr>
                            <tr class="trConf">
                                <td class="tdConf" id="confFullName"></td>
                                <td class="tdConf" id="confDelAddress"></td>
                                <td class="tdConf" id="confContactNo"></td>
                                <td class="tdConf" id="confEmail"></td>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr>
                                <th class="header">Products Orders</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="thConf">Product Name</th>
                                <th class="thConf">Quantity</th>
                                <th class="thConf">Milligrams</th>
                            </tr>
                            <tr class="trConf">
                                <td class="tdConf" id="confProd"></td>
                                <td class="tdConf" id="confMil"></td>
                                <td class="tdConf" id="confQuantity"></td>
                            </tr>
                        </table>
                        <div align="center">
                            <button type="button" name="previous_btn_confirm_details" id="previous_btn_confirm_details" class="btn btn-default btn-lg">Previous</button>
                            <button type="button" name="btn_confirm_details" id="btn_confirm_details" class="btn btn-success btn-lg">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function getInputValue() {

        //for selectedBranch
        //var branch = document.getElementById("branchSelect").value();
        //var e = document.getElementById("branchSelect");
        //var value = e.options[e.selectedIndex].value;
        //var text = e.options[e.selectedIndex].text;
        //document.getElementById("confSelectedBranch").innerHTML = text;

        // Selecting the input element and get its value 
        var lName = document.getElementById("lName").value;
        var fName = document.getElementById("fName").value;
        var address = document.getElementById("delivAdd").value;
        var cn = document.getElementById("contactNo").value;
        var email = document.getElementById("email").value;

        var test = document.getElementById("paramFieldName").value;
       
        //var loopsss = document.querySelectorAll("#paramFieldName");

        for (var i = 0; i < test; i++) {
            document.getElementById("confProd").innerHTML = test;
        }


        //Set Values
        document.getElementById("confFullName").innerHTML = lName + ", " + fName;
        document.getElementById("confDelAddress").innerHTML = address;
        document.getElementById("confContactNo").innerHTML = cn;
        document.getElementById("confEmail").innerHTML = email;
        
    }
    var i = 0; // Start at 0
    var maxFields = 10;
    $(document).ready(function () {
        var x = 1;
        $(".addCF").click(function () {
            i++;
            if (x < maxFields) {
                x++;
                console.log(i);
                var newRow = $("#template").clone().removeAttr("hidden").removeAttr("aria-hidden"); // Clone template and make it visible
                $(newRow).html(newRow.html().replace(/%/g, i)); // Replace the % by the i number
                $("#paramsFields").append(newRow);
            }
        });
        $("#paramsFields").on('click', '.remCF', function () {
            $(this).parent().parent().remove();
            x--;
        });

    });
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    function pageUnload() {
        return "The data on this page will be lost if you leave";
    }
</script>