@model EMedFinalProject.Models.Order

@{
    ViewData["Title"] = "ModifyStatus";
    Layout = "~/Views/Shared/_ConfirmedEditLayout.cshtml";
}

<h2 style="color:blue; margin-bottom:30px;">E<span class="Dash" style="color: pink;">-</span><span class="Dash" style="color:Red;">Med</span><span style="Color:black; float: right;">Edit Order Status</span></h2>
<div style="margin-bottom:20px;">
    <a asp-action="ConfirmedOrders">Back to OrderList</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifyStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="submit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
