@*

*@
@{
    Layout = "~/Views/Shared/_OrderLayout .cshtml";
    ViewData["Title"] = "TGP Terms and Conditions";
}
<div id="terms" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <span style="color:black">T<span style="color: red">G</span>P</span>
        </h1>
        <h2>Order Online Terms and Conditions</h2>
    </div>
</div>
<div class="container" id="scrollbar" data-aos="fade-up">
    <div id="outerBox">
        <h3 id="termsAndConditionsIndicatorHeader">Terms and Conditions</h3>
        <div id="innerBox" style="font-family:'Times New Roman', Times, serif; font-size:inherit;" class="scrollBar">

            <h3 id="termHeader">Data Privacy Policy</h3>
            <p><span style="font-weight: 400;">TGP is committed to safeguarding your privacy online. In general, you can visit the Site without revealing any information about yourself. TGP does collect technical information regarding visits to our Website, such as IP address, browser type, operating system, and average time spent, to measure use, audit logs and improve the content of our site. We analyze these data for trends and statistics to help us provide you with better and secure service.</span></p>
            <p><span style="font-weight: 400;">We will only request information from you, such as your name, address and e-mail address in order to respond to inquiries, participate in certain promotions, conduct surveys, approve applications to allow access to specific information, and to enroll with our card product services. Any information you provide will be used for TGP purposes only. It will not be shared with outside individuals or any other companies such as direct mail organizations or other third parties, unless required by law. However, TGP reserves the right to share such information with its parent company and affiliates and may need to provide your name and delivery address to third parties that TGP uses for delivering specific services to you (such as support services for courier purposes).</span></p>
            <p><span style="font-weight: 400;">We, TGP, respect your privacy and recognize your need for appropriate protection and management of your personal data that you have directly and voluntarily entrusted us. We have developed this Privacy Policy in order to protect your personal data in accordance with the Data Privacy Act of 2012 (DPA), its Implementing Rules and regulations (IRR), other issuances of National Privacy Commission (NPC) and other relevant laws of the Philippines.</span></p>
            <p><span style="font-weight: 400;">Personal data refers to all types of personal information, sensitive personal information, and privileged information. Personal information refers to “any information, whether recorded in a material form or not, from which the identity of an individual is apparent or can be reasonably and directly ascertained by the entity holding the information, or when put together with other information would directly and certainly identify an individual”.</span></p>
            <p><span style="font-weight: 400;">This Privacy Policy tells you how we process (meaning, how we collect, use, share, and retain) and protect your personal data. It also tells you what steps you can take if you want us to change how we use your personal data, or if you want us to stop using your personal data.</span></p>
            <h3 id="termHeader">Why do we collect your personal data?</h3>
            <p><span style="font-weight: 400;">To enable us to comply and achieve our corporate policies and vision as well as to comply with regulatory requirements being observed by TGP as an employer, controller processor and third party, it is important that TGP collects, uses, stores and retains your personal data when it is reasonable and necessary for a declared and specific purpose.</span></p>
            <h3 id="termHeader">In general, we are using your data for any of the following purposes:</h3>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">For you to have a better online shopping experience;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">For you to place an order and for us to identify and contact you, verify and confirm your order;</span></li>
                <li style="font-weight: 400;">
                    <span style="font-weight: 400;">For you to create a(n) TGP account and when you log-in, you will be able to:</span>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Store items in your shopping cart between visits,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Proceed through checkout faster when making a purchase,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Check the status of orders,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">View past orders,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Check your accumulated points in your loyalty card.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Make changes to your account information,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Update your account profile, and</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Store alternative addresses (for shipping to multiple family member and friends!);</span></li>
                    </ul>
                </li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">For you to provide reviews in our products and services;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">For you to subscribe/unsubscribe to our e-newsletters;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To generate statistical insights;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To conduct research and analysis (through surveys or polls) in order to improve customer experience/satisfaction;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To respond to specific complaints, inquiries, requests or to provide requested information;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To provide customer care activities, monitor our quality and security, and provide services timely and efficiently; and,</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To notify and update you (through call, text or email) about our complimentary, commercial and promotional advertisements, loyalty and rewards offers, exclusive invites discounts, surveys, and other direct marketing that we deemed relevant and beneficial to you based on your preference and interest initially provided to us or made aware of, with which you can opt-out anytime should you prefer not to receive these notifications.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To comply with TGP obligations under the law and as required by government organizations and/or agencies such as, but not limited to, the following: NPC, BIR, HDMF or Pag-IBIG, PhilHealth, SSS and so on;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To comply with legal and regulatory requirements or obligations; and,</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">To perform such other processing or disclosure that may be required under law or regulations.</span></li>
            </ul>
            <h3 id="termHeader">What type of personal data we collect?</h3>
            <p style="font-style:italic;">The types of personal data that we will collect from you depends on the particular purpose for which you are submitting an application. The common type of data collected by TGP from you, generally includes the following:</p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Basic personal information such as full name, nickname, home addresses/billing address/shipping address, e-mail address, employment information, telephone, other personal contact numbers, username and password;</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Sensitive personal information such as date of birth, age, occupation, and gender; and,</span></li>
                <li>
                    <h4 id="termHeader">Other sensitive personal information and records such as, but not limited to, the following:</h4>
                    <ul>
                        <li>Photo</li>
                        <li>Educational background</li>
                        <li>Employment record</li>
                        <li>Family background</li>
                        <li>Spouse and children’s names</li>
                        <li>Financial details (e.g., credit card details)</li>
                        <li>Valid identification cards and licenses, and</li>
                        <li>Current salary, basic pay, statutory obligations such as HDMF or Pag-IBIG, SSS, PhilHealth and withholding tax, other benefits.</li>
                    </ul>
                    <p>Please note that you are responsible for ensuring that all such personal data you submit through this website is accurate, complete and up-to-date.</p>
                    <h3 id="termHeader">Is the TGP using web analytics?</h3>
                    <p><span style="font-weight: 400;">This website engages a third-party service to analyze web traffic data for us. This service does not use cookies or web beacons. However, in order to provide better service and more secure service, the use of “cookies” shall be done on occasion. A “cookie” is defined as a small piece of information stored into your PC by the website using your web browser for administrative purposes and the like. No cookie shall contain information allowing the Host to contact visitors to the Site without their permission. Visitors to the site may tweak their Browser settings in order to prevent cookies from being set. However, visitors who do such may be unable to access certain features of this website.</span></p>
                    <p><span style="font-weight: 400;">Data generated is not shared randomly with any other party but only to those that TGP deems it necessary at its sole discretion in order to benefit you and improve your shopping or browsing experience. For you to fully enjoy your visit and browsing experience, only non-identifiable web traffic data are collected and analyzed, including:</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Your IP address,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The search terms you used,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The pages and internal links accessed on our site,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The date and time you visited the site,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Geolocation</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The referring site or platform (if any) through which you clicked through to this website,</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Your operating system, and</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Web browser type.</span></li>
                    </ul>
                    <p><span style="font-weight: 400;">Use the options in your web browser if you do not wish to receive (a) cookie(s) or if you wish to set your browser to notify when you receive (a) cookie(s). CClick on the “Help” section of your browser to learn how to change your cookie preferences. If you disable all cookies, you may not be able to take advantage of all the features of this website/mobile application.</span></p>
                    <p><span style="font-weight: 400;">When you download or use our The Generic Pharmacy App, we may receive information about your location and your mobile device including a unique identifier for your device. We may use this information to provide you with location-based services, such as advertising, search results, and other personalized content.</span></p>
                    <p><span style="font-weight: 400;">Most mobile devices provide users with the ability to disable permissions (e.g., location services). Most likely, these controls are located in the device’s settings menu. If you have questions about how to disable your device’s location services, we recommend you contact your mobile service carrier or your device manufacturer.</span></p>
                    <h3 id="termHeader">What about the links to third-party websites?</h3>
                    <p><span style="font-weight: 400;">From time to time, we will provide links to third-party websites or advertisements which contain links to third-party sites. These links are provided as a service to you and we do not provide any personal data to these websites or advertisers, and therefore, we will not accept responsibility for their privacy practices. These sites are operated by independent entities that have their own privacy policies which you should also review. TGP’s Privacy Policy does not apply to such other sites or to the use that those entities make of your information. TGP has no control over the content displayed on such sites, nor over the measures, if any, that are taken by such sites to protect the privacy of your information.</span></p>
                    <h3 id="termHeader">Who we share your personal data with?</h3>
                    <p><span style="font-weight: 400;">As a general rule, we are not allowed to share your data to third parties except in circumstances as noted below.</span></p>
                    <p><span style="font-weight: 400;">By giving your consent, you authorize TGP to disclose your personal data to accredited/affiliated third parties or independent non-affiliated third parties, whether local or foreign in any of the following circumstances:</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">As necessary for the proper execution of processes related to the declared purposes in this Privacy Policy.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The use or disclosure is reasonably necessary, required or authorized by or under the law (such as for criminal investigation, as requested by the court of law).</span></li>
                    </ul>
                    <p><span style="font-weight: 400;">This means we might provide your personal data to the following:</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Our affiliates, subsidiaries, partner companies, organizations, or agencies including their sub-contractors or prospective business partners that act as our service providers and contractors;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Law enforcement and government agencies;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">All other third parties we deem necessary with which we share this personal data are required to use your personal data in a manner that is consistent with this Privacy policy.</span></li>
                    </ul>
                    <p><span style="font-weight: 400;">However, these companies may only use such personal data for the purpose(s) disclosed in this Privacy Policy and may not use it for any other purpose.</span></p>
                    <h3 id="termHeader">What is our Privacy Policy regarding children?</h3>
                    <p><span style="font-weight: 400;">TGP is very sensitive to privacy issues, and we are especially careful in any communications with one of our most treasured customers – children. TGP would never collect personal data from children directly, without the parent’s consent.</span></p>
                    <p><span style="font-weight: 400;">Personal data collected from children is used solely by TGP or other entities that provide technical, fulfillment or other services to TGP. For example, such entities may provide services, such as, improving our services/websites, and fulfilling requests or administering promotions. These personal data are not sold.</span></p>
                    <p><span style="font-weight: 400;">Meanwhile, we urge parents to regularly monitor and supervise their children’s online activities.</span></p>
                    <h3 id="termHeader">How we protect you personal data?</h3>
                    <p><span style="font-weight: 400;">We take reasonable steps to make sure that your personal data we collect, use or disclose are accurate, complete, and up-to-date. We strictly enforce our Privacy Policy within TGP, and we have implemented technological, organizational and physical security measures to protect your personal data we hold from loss, misuse, modification, unauthorized or accidental access or disclosure, alteration or destruction. We put in effect safeguards such as the following:</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">We keep and protect your personal data using a secured server behind a firewall, deploying encryption on computing devices and physical security controls.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">We restrict access to your personal data only to qualified and authorized personnel who hold your personal data with strict confidentiality.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">We reveal only the last four digits of your credit card numbers when confirming an order. Of course, we transmit the entire credit card number to the appropriate credit card company during order processing.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Any personal data that you provide on the website/mobile application is initially processed and stored by TGP using a secured connection, only authorized TGP personnel can then access and download your personal data from the website.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.</span></li>
                    </ul>
                    <h3 id="termHeader">Where and how long do we keep your personal data?</h3>
                    <p><span style="font-weight: 400;">We reserve the right to retain and keep the information we gathered from you in our facilities located in the Philippines while you are a customer or until we no longer need it for business, tax, or legal purposes or unless you request your personal data to be deleted in the system or when your personal data may be necessary to resolve disputes, or if TGP is required to do so by law or in good faith; provided that such action is necessary to comply with a legal obligation and/or protect and defend the rights or property of TGP or its affiliates. If TGP is required to retain any portion of your personal data for such purposes, it shall use reasonable efforts to limit such data to what is necessary to accomplish the particular purpose. When we dispose of your personal information, we use reasonable procedures to destroy it or make it unreadable (such as shredding or by wiping electronic data). Once deleted, your personal data will no longer be searchable or included in anonymous searches and will be completely removed from all the storage location.</span></p>
                    <h3 id="termHeader">What if there are changes in our Privacy Policy?</h3>
                    <p><span style="font-weight: 400;">From time to time, it may be necessary for TGP to change this Privacy Policy. If we change our Privacy Policy, we will post the revised version here and will take effect immediately, so we suggest that you check here periodically for the most up-to-date version of our Privacy Policy. Rest assured, however, that any changes will not be retroactively applied and will not alter how we handle previously collected personal data without obtaining your consent unless required by law.</span></p>
                    <h3 id="termHeader">How you can access correct and update the personal data we have about you?</h3>
                    <p><span style="font-weight: 400;">To exercise your rights which include right to access modify, erase and object to processing your personal data within a reasonable time after such request or should you have any inquiries, feedback on this Privacy Policy, and/or complaints to TGP, you may reach us through our “Contact Us”/”Customer Service” menu in this website/mobile application, through a written letter through an email to our Data Protection Officer(DPO).</span></p>
                    
                </li>
            </ul>
            <h3 id="termHeader">Consent</h3>
            <p><span style="font-weight: 400;">By browsing the website, you explicitly and unambiguously consent to the collection, processing, and storage of your personal data by TGP for the purpose(s) described in the Privacy Policy. Please ensure that you have completely read and comprehend the terms in our Privacy Policy before continuing to browse the website.</span></p>
        </div>    
        <div class="button-row">
            <a href="~/Order/Home/#services" class="buttonDecline">Decline</a>
            <a asp-action="MercuryOrderProcess" class="buttonAccept">Accept</a>
        </div>

    </div>
</div>