@*

*@
@{
    Layout = "~/Views/Shared/_OrderLayout .cshtml";
    ViewData["Title"] = "Watsons Terms and Conditions";
}
<div id="terms" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="color: #03a0a0; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            watsons
        </h1>
        <h2>Order Online Terms and Conditions</h2>
    </div>
</div>
<div class="container" id="scrollbar" data-aos="fade-up">
    <div id="outerBox">
        <h3 id="termsAndConditionsIndicatorHeader">Terms and Conditions</h3>
        <div id="innerBox" style="font-family:'Times New Roman', Times, serif; font-size:inherit;" class="scrollBar">

            <p>This page (together with the documents referred to on it) tells you the terms and conditions (Terms & Conditions) on which we supply any of the products (Products) listed on our website www.watsons.com.ph or Philippine mobile app (Site) to you. The Products listed on the Site may be supplied directly by FamilyHealth & Beauty Corp. Please read these Terms & Conditions carefully before ordering any Products from the Site. You should understand that by ordering any of our Products, you agree to be bound by these Terms & Conditions. You can print a copy of these Terms & Conditions. Please also note that the use of the Site is subject to the terms contained in the Website and Mobile Terms of Use, which apply whether or not you order any Products from the Site.</p>

            <p>We take privacy seriously. The categories of personal data that we process depend on how you use our services. We use your personal data to align our online and in store services with your preferences, to provide you with purchases and services, to deal with your requests, to contact you regarding tailored products and services which may be of interest to you, to provide prize draws or competitions, or to carry out relevant administrative services. All personal data is processed in accordance with applicable data protection laws. For a full version of our Privacy Policy, please see Privacy Policy.</p>

            <p>By opening a Watsons membership account, or by using services or other benefits connected with that account, you also agree to our Membership Terms and Conditions.</p>



            <p><strong>1. Information about us</strong></p>

            <p>The Site is operated by FamilyHealth & Beauty Corp. and/or our affiliates (we / us).</p>



            <p><strong>2. How the contract is formed between you and us</strong></p>

            <p><strong>2.1</strong> You may place an order to purchase a Product advertised for sale on the Site by following the onscreen prompts after clicking on the item you are interested in. You will have an opportunity to check and correct any input errors in your order up until the point at which you submit your order by clicking the "Proceed to Payment" button on the "Payment details" page. No changes or amendments can be made by you to your order after this point.</p>



            <p><strong>2.2</strong> After placing an order, you will receive an e-mail from us acknowledging that we have received your order and giving you an order number and a summary of your order. Please note that this does not mean that your order has been accepted. Your order constitutes an offer to us to buy a Product. All orders are subject to acceptance by us, and we will confirm such acceptance to you by sending you an e-mail that confirms that the Product has been dispatched (Dispatch Confirmation). The contract between us for the sale of a Product will only be formed when we send you the Dispatch Confirmation for the relevant Product. If you order several Products from us which are being delivered at different times or separately from a third-party supplier, each contract is formed when we provide the Dispatch Confirmation for each Product.</p>



            <p><strong>2.3</strong> Each Contract will relate only to those Products whose dispatch we have confirmed in the Dispatch Confirmation. We will not be obliged to supply any other Products which may have been part of your order until the dispatch of such Products has been confirmed in a separate Dispatch Confirmation.</p>



            <p><strong>2.4</strong> We may, in our sole discretion, refuse or cancel any order and limit order quantity. We may choose not to accept your order for any reason and we will not be liable to you or to anyone else in those circumstances.</p>



            <p><strong>2.5</strong> We may be unable to process your order if:</p>
            <ul>
                <li>the Product you ordered is out of stock or discontinued; or</li>
                <li>there is a problem with authorisation of your method of payment.</li>
            </ul>

            <p><strong>2.6</strong> Certain Products made available on the Site may be subject to age, availability of prescription, or other restrictions imposed by law. We are not permitted by law to supply these Products to individuals who do not satisfy the relevant requirements and, if you are underage, without a prescription, or do not satisfy such requirements, you must not attempt to order these Products. Nothing contained in these terms and conditions or any communications provided to you as a result of your use of this service should be construed as medical, commercial, legal or other professional advice. Always seek the advice of a physician or other qualified healthcare provider concerning questions you have regarding a medical condition, and before starting, stopping or modifying any treatment or medication.</p>



            <p><strong>2.7</strong> By registering on the Site, using the Site and/or making a purchase, you confirm and certify that the information you provide, including but not limited to your date of birth, is complete accurate and up-to-date.</p>



            <p><strong>3. Delivery</strong></p>

            <p><strong>3.1</strong> We will deliver the Products to you in accordance with the delivery option specified by you when you placed your order. Once an order is placed, no changes or amendments can be made to the delivery address.</p>



            <p><strong>3.2</strong> We may on some occasions dispatch the Products comprised in your order which are supplied by us in multiple packages. Delivery will be made to the delivery address specified in your order. Please see below for details of where we deliver and the available delivery options. We cannot deliver items within the same order to multiple addresses. We are not responsible for any additional carrying or positioning of Products ordered.</p>



            <p><strong>3.3</strong> There may be a delivery charge, which will be added when you checkout. Please make sure that you are satisfied with the delivery charge before confirming your order for Products at checkout.</p>



            <p><strong>COLLECTION (AT STORE)</strong></p>

            <p><strong>3.4</strong> We aim to have the Products available for collection within the estimated timeframes indicated below, from the day on which the Dispatch Confirmation is issued.  However, we are not able to guarantee any firm delivery dates upon order and to the extent permitted by law, we shall not be liable to you for any losses, liabilities, costs, damages, charges or expenses arising out of late delivery.</p>

            <p><strong>Location<span style="margin-left:150px;">Estimated Delivery</span></strong></p>
            <p>National Capital Region<span style="margin-left:50px;"> 2-5 Working Days</span></p>
            <p>Rest of Luzon and Visayas<span style="margin-left:38px;">3-7 Working Days</span></p>
            <p>Mindanao<span style="margin-left:143px;">4-8 Working Days</span></p>

            <p>Note: Working Days shall exclude Saturday, Sunday and Public Holidays</p>

            <p>A notification will be sent to you via email or local SMS to confirm the date of collection.</p>



            <p><strong>3.5</strong> The Click & Collect Express service is only available at Watsons Philippines selected stores, subject to the credit card payment option.</p>



            <p><strong>3.6</strong> If you are not personally available to collect at store, an authorised representative may collect on your behalf provided the representative is over 18 years of age and is able to present your signed authorisation letter. You or your representative may be required to produce proof of identity (e.g. any government issued I.D.) and acknowledge receipt of the delivery.</p>



            <p><strong>3.7</strong> Ordered Products will be cancelled if you do not collect the Products within seven (7) days from the day of the email or SMS Collect Notice being sent. Credit card payments for such orders will be refunded via credit card payment reversal, following our refund policy.</p>



            <p><strong>3.8</strong> We will not entertain any request for change of store for collection after order confirmation is issued.</p>



            <p><strong>3.9</strong> We reserve the right to withhold delivery of the Products to you if we have any doubts whatsoever as to your credit worthiness or insufficient identification.</p>



            <p><strong>3.10</strong> No delivery charges apply for orders collected in selected store. However, we reserve the right to apply administration charges / delivery charges for any other special redelivery arrangement or return request. There are no minimum purchase requirements.</p>



            <p><strong>HOME DELIVERY</strong></p>

            <p><strong>3.11</strong> We shall deliver the Products to the delivery address specified and keyed in by you on the order form. Your order will be delivered to you via the service of a courier service company appointed by us. We advise that either you or a chosen representative is able to receive the order and place it in a safe place.</p>



            <p><strong>3.12</strong> We aim to deliver the Products within the estimated timeframes indicated below, from the day on which the Dispatch Confirmation is issued. However, we are not able to guarantee any firm delivery dates upon order and to the extent permitted by law, we shall not be liable to you for any losses, liabilities, costs, damages, charges or expenses arising out of late delivery.</p>
            <p><strong>Location<span style="margin-left:150px;">Estimated Delivery</span></strong></p>
            <p>Metro Manila<span style="margin-left:120px;">2-5 Working Days</span></p>
            <p>Outside Metro Manila<span style="margin-left:67px;">3-9 Working Days</span></p>
            <p>Note: Working Days shall exclude Christmas and New Year’s Eve</p>



            <p><strong>3.13</strong> On delivery of the Products, you are required to sign for delivery. You shall examine the Products immediately upon collection for any deficiencies and/or damages before you sign for delivery. All risk in the Products shall pass to you upon delivery.</p>



            <p><strong>3.14</strong> Please note that it might not be possible for us to deliver to some locations. If this is the case, we will inform you using the contact details that you provide to us when you make your order and arrange for cancellation of the order or delivery to an alternative delivery address.</p>



            <p><strong>3.15</strong> Delivery is free of charge for orders of Php5,000.00 or above. The following Delivery Charges apply for orders below Php5,000.00:</p>
            <p><strong>Delivery Location<span style="margin-left:150px;">Delivery Charges</span></strong></p>
            <p>Metro Manila<span style="margin-left: 188px">Php65.00</span></p>
            <p>Outside Metro Manila<span style="margin-left: 135px">Php149.00</span></p>

            <p>We charge a special fee of Php 499.00 for bulky items (8 kilograms or above in actual or dimensional weight), regardless of order amount. If a product is considered a bulky item, this will be indicated in the product details page.</p>



            <p><strong>3.16</strong> All Products must be received by an adult aged 18 years or over. If the driver has any doubt over the age of the person receiving the Products, he is entitled to ask such person to show an identity card to prove his/her age. If the person is shown not to be 18 or above and no other person can receive the Products, we shall not hand over the Products.</p>



            <p><strong>3.17</strong> If you are not available to take delivery or collection, we will send you an SMS notifying you of the failed delivery attempt. We will notify you of the succeeding delivery attempts but upon a failed third attempt, the delivery will be tagged as failed and the order shall be cancelled.</p>



            <p><strong>3.18</strong> If delivery or collection is delayed through your unreasonable refusal to accept delivery or if you do not accept delivery or collect the Product from the carrier, then we may (without affecting any other right or remedy available to us) do either or both of the following:</p>
            <ul>
                <li>charge you for our reasonable storage fee and other costs reasonably incurred by us; or</li>
                <li>no longer make the Product available for delivery or collection and notify you that we are immediately cancelling the order, in which case we will refund to you or your credit card company as applicable any money already paid to us under the order, less our reasonable administration charges (including for attempting to deliver and then returning the Product, and any storage fees as provided).</li>
            </ul>

            <p><strong>3.19</strong> If you request for redelivery, we are entitled to charge for providing the service.</p>



            <p><strong>3.20</strong> It is your responsibility to notify us immediately of any change to the delivery address.</p>



            <p><strong>3.21</strong> We reserve the right to decline delivery of Products to any customer at our sole discretion absolutely.</p>



            <p><strong>3.22</strong> Shipping and other fees, taxes and charges are excluded from earning Member Points.</p>



            <p><strong>4. Risk and Ownership</strong></p>

            <p><strong>4.1</strong> Once delivered, the Products ordered will become your responsibility and, except in relation to Products that are damaged or faulty when delivered or have been incorrectly delivered, we will not accept any liability for their loss, damage or destruction after they have been delivered.</p>



            <p><strong>4.2</strong> Ownership of Products will pass to you on delivery of the Products, or us receiving full payment of all sums due in respect of the Products, whichever is the later.</p>



            <p><strong> 5. Price and Payment</strong></p>

            <p><strong>5.1</strong> The price of any Products will be as quoted on the Site from time to time, except in cases of obvious error.  Images of the Products are for illustration purposes only.</p>



            <p><strong>5.2</strong> These prices may include applicable discounts, local taxes and other applicable charges, but exclude delivery costs. Delivery costs will be added to the total amount due once you have selected a delivery service from the available options. To apply for special discounts and tax exemptions for senior citizens, persons with disabilities, national athletes and coaches and other similar special category discounts, please consider availing of our products and services via the Call and Delivery hotlines or visit a Watsons store near you.</p>



            <p><strong>5.3</strong> Payment can be made by most debit or credit cards and other payment methods acceptable to us, by completing the relevant details on the “Payment” page. We shall not be liable for any credit card or other payment fraud.</p>



            <p><strong>5.4</strong> All product prices listed are in Philippine Peso (PHP).</p>



            <p><strong>5.5</strong> To provide secure online commerce transactions, we employ Internet's Secure Sockets Layer (SSL) technology. It encrypts your personal information, including credit card number, name and address, so that it would not be read as the information travels over the Internet. To check SSL Certificate information, you can right click the mouse and choose "Properties" & "Certificates".</p>



            <p><strong>5.6</strong> We may from time to time set credit limits for individual customers and we reserve the right to limit sales including the right to decline sales to any customers.</p>



            <p><strong>5.7</strong> Full payment in respect of an order must be made upon the placing of the order. If your payment cannot be processed, the order will be not be accepted and you are advised to contact your card issuer to resolve any problem concerning the use of your credit card in order to continue with the order.</p>



            <p><strong>5.8</strong> We reserve the right to change the payment terms for any order without prior notice.</p>



            <p><strong>5.9</strong> If payment for any order has already been made but the order is not accepted by us, you will be entitled to a refund, depending on the period of time your financial institution needs to arrange the refund. We shall not be liable with respect to any loss, damage, cost or expense that you or any person may incur as a result of any delay in your financial institution processing the said refund.</p>



            <p><strong>5.10</strong> Watsons eVoucher and eCoupon are redeemable for online purchases made on www.watsons.com.ph, subject to terms and conditions of the respective eVoucher and eCoupon. Other types of vouchers and coupons are not redeemable online.</p>



            <p><strong>5.11</strong> The Site contains a large number of Products and it is always possible that, despite our best efforts, some of the Products listed on the Site may be incorrectly priced. We will rectify any such errors as soon as possible once we become aware of them. If a Product's correct price is different from the price stated on the Site, we will normally, at our discretion, either contact you for instructions before dispatching the Product, or reject your order and notify you of such rejection.</p>



            <p><strong>5.12</strong> Prices on the Site may be different from those in our stores.  For example, the Site may offer 'Web Exclusive Prices' on selected Products which will be cheaper than prices in our stores.</p>



            <p><strong>5.13</strong> Watsons Card member promotions cannot be cumulated with other non-member promotions, unless indicated otherwise or applied in your favour directly at checkout.</p>



            <p><strong>6. Our Cancellation, Returns and Refund Policy</strong></p>

            <p><strong>6.1</strong> We may cancel an order if the Product (or promotional offer(s) involving the Product) is not available for any reason. We will notify you if this is the case and return any payment that you have made. Refund will be credited into the credit card account originally used by you to pay for your purchase, depending on the period of time your financial institution requires to arrange for the refund.</p>



            <p><strong>6.2</strong> You cannot cancel an order once a Dispatch Confirmation is issued. If you wish to seek further information or assistance, please Contact Us.</p>



            <p><strong>6.3</strong> You shall examine the Products immediately upon collection / delivery for any deficiencies and/or damages. Claims (if any) must be lodged to our customer service  at Contact Us at the time of collection/delivery; otherwise we shall have the discretion to refuse your claim.</p>



            <p><strong>6.4</strong> For a Product collected from our store which is found to be defective and/or is damaged inside the packaging after collection, you may return and bring back the defective Product to the store where you collected the product within seven (7) days. You must present a valid receipt of the purchase for the return.</p>



            <p><strong>6.5</strong> For home delivery, you may hand any faulty or damaged Products, or incorrect items back to the driver at the time of delivery, we will process the refund within 30 days. If you discover any defect or damage inside the packaging after delivery, the Product may be returned to the nearest store upon approval of the return request.</p>



            <p><strong>6.6</strong> Exchange or refund of the Product may be arranged for the following reasons:</p>
            <ul>
                <li>If the Product is obviously expired / damaged upon collection at the store / at time of delivery;</li>
                <li>If the Product is expired / damaged inside packaging after collection/ delivery; and you contact customer service within 7 days.</li>
                <li>If the Product ordered is different from the item collected at the store/ delivered.</li>
            </ul>

            <p><strong>6.7</strong> We will inspect the returned Product upon return by you and may request the submission of electronic files, including photos, receipt, etc. to support the review process. If one or more of the conditions in section 6.6 above is fulfilled, you are entitled to choose between an exchange of the Product if the Product is available in our stock, or for a refund to be made to you through your Watsons online account (via e-vouchers) or payment account, after 30 days from the date we approve the return request, subject further to your bank’s processing time.</p>



            <p><strong>6.8</strong> Products returned for a refund shall be refunded at the price which you had paid at the point of ordering. The manner of refund will depend on the mode of payment originally made by the Customer:</p>
            <ul>
                <li>For debit/credit card payments, refund will be done via payment reversal and may take 1 to 2 billing cycles, depending on your bank’s processing time. In case of delay, you may contact your card-issuing bank to get the details of the reversal.</li>
                <li>For cash-on-delivery (COD) payments, the amount will be refunded and credited to the Customer’s Watsons online account (via e-voucher). The e-voucher may be used as payment in next online purchase. Credited e-vouchers will appear in your account within 24 hours after the approval of the refund request. The e-voucher may be used at any time and has no expiry.</li>
                <li>No cash refund is made through Watson store cashiers.</li>
            </ul>


            <p><strong>6.9</strong> Products to be returned must be returned in its original packaging, unused, with all gift items (if any) together with proof of purchase (original receipt or delivery note). Otherwise the retail value of the gift item(s) would be deducted from the refund. Items purchased as a set must also be returned as a set.</p>



            <p><strong>6.10</strong> Hygiene-sensitive products sold are non-refundable. All requests for refund will be reviewed on case-by-case basis and subject to our approval.</p>



            <p><strong>6.11</strong> Refund of shipping fees may be approved for the following cases:</p>
            <ul>
                <li>If the approved item for return and refund was charged the “bulky item” shipping fee;</li>
                <li>If the approved item(s) for return and refund constitute the entire value of the original order.</li>
            </ul>

            <p><strong>6.12</strong> For Watsons Cardholders, in the event of a refund, we reserve the right to remove all member points received for the purchase of the refunded Products from the Watsons Card account.</p>



            <p><strong>7. Our liability</strong></p>

            <p><strong>7.1</strong> We are not responsible for, and cannot guarantee the performance of, goods and services provided by third parties. While we will use reasonable endeavours to provide accurate information, product packaging and material may contain more and/or different information. Always read labels, warnings, directions, and other information provided with the product before using any product. For additional information about a product, please contact the manufacturer. If you find a Product is not as described, your sole remedy is to return it in an unused condition (excluding products that are not eligible for return), in accordance with our return policy. It is your responsibility to ascertain and obey all applicable local laws and regulations (including minimum age, prescription and other requirements) regarding the purchase, possession, and use of any Product.</p>



            <p><strong>7.2</strong> You must follow any advice we give you to keep Products we supply to you safe (including any instructions or product manuals provided with the Products). We cannot accept liability for damage to Products we have supplied which is caused by your failure to follow this advice.</p>



            <p><strong>7.3</strong> To the extent permitted by law, our total liability in connection with these terms and conditions and any resulting sale or provision of products, arising from any cause, is limited to the price paid for the Product(s) giving rise to the claim.  We accept no liability for special, indirect, incidental, punitive, and/or consequential damages of any nature, any loss which is not reasonably foreseeable or for any business loss (which includes loss of profits, contracts, goodwill, opportunity, interests or charges on payment transactions and other similar losses).</p>



            <p><strong>7.4</strong> This does not include or limit in any way our liability for death or personal injury caused by our negligence, or our responsibility for fraudulent misrepresentation and any other liability that cannot, under law, be excluded.</p>



            <p><strong>7.5</strong> Nothing in this section 7 or elsewhere in our Terms & Conditions affects your statutory legal rights.</p>



            <p><strong>8. Notices</strong></p>

            <p>Any formal legal notices should be sent to us at our Customer Services address set out in the Contact Us section.</p>



            <p><strong>9. Events outside our control</strong></p>

            <p>We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations that is caused by events outside our reasonable control.</p>



            <p><strong>10. General</strong></p>

            <p><strong>10.1</strong> FamilyHealth & Beauty Corp. is a corporation registered in the Philippines. Any formal legal notices should be sent to us at our Customer Services address set out in the Contact Us section.</p>

            <p><strong>10.2</strong> If any of these Terms & Conditions are declared invalid, unlawful or unenforceable, then that provision shall be deemed to be deleted from these Terms & Conditions and the remaining provisions shall remain in full force and effect.</p>

            <p><strong>10.3</strong> We have the right to revise and amend these Terms & Conditions from time to time without prior notice by changing them on the Site, provided that any such change will not affect any purchases you have made before the change is implemented.</p>

            <p><strong>10.4</strong> Failure by us to enforce a right does not result in waiver of such right. You may not assign or transfer your rights under these Terms & Conditions.</p>

            <p><strong>10.5</strong> You and we agree that the laws of Philippines apply to these Terms & Conditions and that any dispute between us arising out of or in connection with these Terms & Conditions will only be dealt with by the courts of Philippines.</p>

            <p><strong>10.6</strong> These Terms & Conditions describe the relationship between you and us, they do not create legal rights for other persons, even if they may benefit from such relationship.</p>



            <p><strong>11. Contact Us</strong></p>

            <p>If you experience problems with ordering from the Site or have any questions with regard to an order, please feel free to Contact Us.</p>



            <p><strong>12. Updates</strong></p>

            <p>These Terms & Conditions were last updated in October 2020.</p>

        </div>
        <div class="button-row">
            <a href="~/Order/Home/#services" class="btn-Decline">Decline</a>
            <a asp-action="WatsonsOrderProcess" class="btn-Accept">Accept</a>
        </div>

    </div>
</div>
