@model EMedFinalProject.Models.OrderViewModel;
@inject EMedFinalProject.Data.ApplicationDbContext _context;

@{
    Layout = "~/Views/Shared/_WatsonsOrderProcessWizard.cshtml";
    ViewData["Title"] = "Watsons Order Now";
    var branchList = _context.Branches.Where(b => b.PharmacyID == 3).ToList();
    var categoryList = _context.Methods.ToList();
}

<div id="ordersProc" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="color:#03a0a0; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            watsons
        </h1>
        <h2>Online Order Form</h2>
    </div>
</div>
<div class="container box" style="margin:120px auto;" data-aos="fade-up">
    <br />
    <form method="post" class="commentForm" id="order_form" enctype="multipart/form-data">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active_tab1" style="border:1px solid #ccc" id="list_branch_details">Select Branch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" style="border:1px solid #ccc" id="list_login_details">Customer Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_personal_details" style="border:1px solid #ccc">Order Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_contact_details" style="border:1px solid #ccc">Upload Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_payment_details" style="border:1px solid #ccc">Payment Method</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_confirmation_details" style="border:1px solid #ccc">Confirmation</a>
            </li>
        </ul>
        <div class="qwerty" style="margin-top:1px;">
            <div class="tab-content" style="margin-top:16px;">
                <div class="tab-pane active" id="branch_details">
                    <div class="headingIndicator">Choose a Watsons Branch</div>
                    <div class="panel-body">
                        <label class="control-label">Select Watsons Branch</label><span class="required">*</span>
                        <select name="BranchID" class="form-control" onchange="selectedSubjectName()" id="branchSelect" asp-items="@(new SelectList(branchList,"BranchId", "BranchLocation"))">
                            <option value="">--Select a Watsons Branch--</option>
                        </select>
                        <span id="error_branch" class="text-danger"></span>
                        <br />
                        <div align="center">
                            <button type="button" name="btn_branch_details" id="btn_branch_details">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="tab-pane fade" id="login_details">
                    <div class="headingIndicator">Personal Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name:</label><span class="required">*</span>
                                    <input type="text" asp-for="LastName" id="lName" class="form-control" />
                                    <span id="error_lastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>First Name:</label><span class="required">*</span>
                                    <input type="text" asp-for="FirstName" id="fName" class="form-control" />
                                    <span id="error_firstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact No:</label><span class="required">*</span>
                            <input type="text" asp-for="ContactNo" id="contactNo" class="form-control" />
                            <span id="error_contactNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Email:</label><span class="required">*</span>
                            <input type="text" asp-for="Email" id="email" class="form-control" />
                            <span id="error_email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Delivery Address:</label><span class="required">*</span>
                            <input type="text" asp-for="DeliveryAddress" id="delivAdd" class="form-control" />
                            <span id="error_delivAdd" class="text-danger"></span>
                        </div>
                        <br />
                        <div align="center">
                            <button type="button" name="previous_btn_customer_details" id="previous_btn_customer_details">Previous</button>
                            <button type="button" name="btn_customer_details" id="btn_customer_details">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="tab-pane fade" id="personal_details">
                    <div class="headingIndicator">Order Items</div>
                    <div class="panel-body">
                        <div id="inputs">
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-sm-6">
                                    <label>Product Name:</label><span class="required">*</span>
                                    <input type="text" class="prodName" id="paramFieldName" name="OrderList[0].ProductName" placeholder="Product Name" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Quantity:</label><span class="required">*</span>
                                    <input type="number" class="quant" id="paramFieldValue" name="OrderList[0].Quantity" value="" placeholder="Quantity" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Milligrams:</label><span class="required">*</span>
                                    <input type="number" class="mil" id="paramMilValue" name="OrderList[0].Milligrams" value="" placeholder="Milligrams" />
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" id="add_field_button" class="addCF" style="margin-top: 500px;">+ Add Products</a>

                        <div class="form-group" style="margin-top:30px;">
                            <label>Estimated Price of Items:</label><span class="required">*</span>
                            <input type="number" class="estPrice" id="estPrice" name="OrderList[0].EstimatedPrice" placeholder="Max. PHP 2000.00" />
                            <span id="error_estPrice" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label style="margin-top:10px;">Instructions</label>
                            <br />
                            <textarea style="resize:none;" rows="5" cols="144" name="OrderList[0].Instructions" placeholder="Type your Instructions for your orders here" class="textarea"></textarea>
                        </div>
                    </div>
                    <br />
                    <div align="center">
                        <button type="button" name="previous_btn_order_details" id="previous_btn_order_details">Previous</button>
                        <button type="button" name="btn_order_details" id="btn_order_details">Next</button>
                    </div>
                    <br />
                </div>

                <div class="tab-pane fade" id="contact_details">
                    <div class="headingIndicator">Upload Prescription and Valid ID</div>
                    <div class="panel-body">
                        <label>Prescription:</label><span class="required">*</span>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="prescription" onchange="javascript:updateList()">
                            <label class="custom-file-label" for="customFile" id="presId">Upload Prescription</label>
                            <span id="error_prescription" class="text-danger"></span>
                        </div>
                        <label>Valid ID:</label><span class="required">*</span>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="validIdFile" name="validId" onchange="javascript:updateList()">
                            <label class="custom-file-label" for="customFile" id="valId">Upload Valid ID</label>
                            <span id="error_validId" class="text-danger"></span>
                        </div>
                        <br />
                        <div align="center">
                            <button type="button" name="previous_btn_upload_details" id="previous_btn_upload_details">Previous</button>
                            <button type="button" name="btn_upload_details" id="btn_upload_details" onclick="selectedPaymentName()">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="tab-pane fade" id="payment_details">
                    <div class="headingIndicator">Upload Prescription and Valid ID</div>
                    <div class="panel-body">
                        <label class="control-label">Payment Method</label><span class="required">*</span>
                        <select asp-for="MethodID" class="form-control" id="paymentMethod" onchange="selectedPaymentName()" asp-items="@(new SelectList(categoryList, "PaymentMethodID", "Method"))">
                            <option value="">--Select a Payment Method--</option>
                        </select>
                        <span id="error_paymentMethod" class="text-danger"></span>
                        <br />
                        <!--creditcard field-->
                        <div id="creditCardForm" style="margin-bottom: 5px;">
                            <div class="form-group">
                                <label for="">Cardholder's Name: <span class="required">*</span></label>
                                <input type="text" name="credNumber" id="credNumber" placeholder="Enter Cardolder's Name" class="form-control">
                                <span id="error_creditCard" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="">Cardholder's Address:<span class="required">*</span></label>
                                <input type="text" name="" placeholder="Enter Cardholder's Address" id="" class="form-control">
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Card Number (Visa and MasterCard only):<span class="required">*</span>
                                        <input type="text" name="" placeholder="Enter Card Number" id="" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        Issuing Bank:<span class="required">*</span>
                                        <input type="text" name="" placeholder="Enter Issuing Bank" id="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        CVV/CVC:<span class="required">*</span>
                                        <input type="text" name="" placeholder="Enter CVV" id="" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        Expiry Date:<span class="required">*</span>
                                        <select placeholder="Month" class="form-control" id="sel1">
                                            <option>--Select Month--</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        Year<span class="required">*</span>
                                        <select placeholder="Month" class="form-control" id="sel1">
                                            <option>--Select Year--</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                            <option>2026</option>
                                            <option>2027</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end form for credit card info-->

                        <div align="center">
                            <button type="button" name="previous_btn_payment_details" id="previous_btn_payment_details">Previous</button>
                            <button type="button" name="btn_payment_details" id="btn_payment_details" onclick="getInputValue();">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="tab-pane fade" id="confirm_details">
                    <div class="headingIndicator">Confirm Details</div>
                    <div class="panel-body">
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="header">Selected Watsons Branch</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <td class="tdConf" style="text-align:center;" id="confSelectedBranch"></td>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr>
                                <th class="header">Personal Details</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="thConf">Fullname</th>
                                <th class="thConf">Delivery Address</th>
                                <th class="thConf">Contact No</th>
                                <th class="thConf">Email</th>
                            </tr>
                            <tr class="trConf">
                                <td class="tdConf" id="confFullName"></td>
                                <td class="tdConf" id="confDelAddress"></td>
                                <td class="tdConf" id="confContactNo"></td>
                                <td class="tdConf" id="confEmail"></td>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr>
                                <th class="header">Products Orders</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="thConf">Product Name</th>
                                <th class="thConf">Quantity</th>
                                <th class="thConf">Milligrams</th>
                                <th class="thConf">Estimated Price</th>
                            </tr>
                            <tr class="trConf">
                                <td class="tdConf" id="confProd"></td>
                                <td class="tdConf" id="confMil"></td>
                                <td class="tdConf" id="confQuantity"></td>
                                <td class="tdConf" id="confEstPrice"></td>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr>
                                <th class="header">Required Attachments</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="thConf">No. of Files Uploaded</th>
                                <th class="thConf">Uploaded Prescription</th>
                                <th class="thConf">Uploaded Valid ID</th>
                            </tr>
                            <tr class="trConf">
                                <td class="tdConf" id="confNoOfFiles"></td>
                                <td class="tdConf" id="confPres"></td>
                                <td class="tdConf" id="confValId"></td>

                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <th class="header">Selected Payment Method</th>
                            </tr>
                        </table>
                        <table class="confTable">
                            <tr class="trConf">
                                <td class="tdConf" style="text-align:center;" id="confSelectedPaymentMethod"></td>
                            </tr>
                        </table>
                        <div align="center">
                            <button type="button" name="previous_btn_confirm_details" id="previous_btn_confirm_details">Previous</button>
                            <button type="submit" name="btn_confirm_details" id="btn_confirm_details" class="submit">Place Order</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $('.submit').click(function (e) {
        e.preventDefault();
        let form = $(this).parents('form');
        swal({
            title: 'Are you sure?',
            text: 'Make sure that all the information you entered is correct.',
            icon: 'warning',
            buttons: ["Make Changes", "Place Order"],
        }).then(function (value) {
            if (value) {
                form.submit();
            }
        });
    });
    $(document).ready(function () {
        var numberIncr = 1; // used to increment the name for the inputs
        var maxFields = 10;
        var x = 1;
        function addInput() {

            if (x < maxFields) {
                $('#inputs').append($('<div class="row"><div class="col-sm-6"><label>Product Name:</label><span class="required">*</span><input type="text" class="prodName" name="OrderList[' + numberIncr + '].ProductName" placeholder="Product Name" /></div><div class="col-sm-3"><label>Quantity:</label><span class="required">*</span><input type="number" class="quant" name="OrderList[' + numberIncr + '].Quantity" placeholder="Quantity" /></div><div class="col-sm-3"><label>Milligrams:</label><span class="required">*</span><input type="number" class="mil" name="OrderList[' + numberIncr + '].Milligrams" placeholder="Milligrams"/></div><a href="javascript:void(0);" id="remove_field" class="remCF">Remove Product</a></div>'));
                numberIncr++;
                x++;
            }
            else {
                swal("Maximum of 10 Product Fields only.");
            }
        }
        $("#inputs").on('click', '.remCF', function () {
            $(this).parent().remove();
            x--;
        });
        $('#btn_order_details').on('click', function (event) {

            $('input.prodName').each(function () {
                $(this).rules("add", {
                    required: true,

                })
            });

            $('input.quant').each(function () {
                $(this).rules("add", {
                    required: true,
                    max: 10
                })
            });

            $('input.mil').each(function () {
                $(this).rules("add", {
                    required: true,
                })
            });

            $('input.estPrice').each(function () {
                $(this).rules("add", {
                    required: true,
                    max: 2000.00
                })
            });

            // prevent default submit action
            event.preventDefault();

            // test if form is valid
            if ($('form.commentForm').validate().form()) {
                console.log("validates");
                $('#list_personal_details').removeClass('active active_tab1');
                $('#list_personal_details').removeAttr('href data-toggle');
                $('#personal_details').removeClass('active');
                $('#list_personal_details').addClass('inactive_tab1');
                $('#list_contact_details').removeClass('inactive_tab1');
                $('#list_contact_details').addClass('active_tab1 active');
                $('#list_contact_details').attr('href', '#contact_details');
                $('#list_contact_details').attr('data-toggle', 'tab');
                $('#contact_details').addClass('active in');
            } else {
                console.log("does not validate");
                return false;
            }


        });

        $('#previous_btn_upload_details').click(function () {
            $('#list_contact_details').removeClass('active active_tab1');
            $('#list_contact_details').removeAttr('href data-toggle');
            $('#contact_details').removeClass('active in');
            $('#list_contact_details').addClass('inactive_tab1');
            $('#list_personal_details').removeClass('inactive_tab1');
            $('#list_personal_details').addClass('active_tab1 active');
            $('#list_personal_details').attr('href', '#personal_details');
            $('#list_personal_details').attr('data-toggle', 'tab');
            $('#personal_details').addClass('active in');
        });


        // set handler for addInput button click
        $("#add_field_button").on('click', addInput);

        // initialize the validator
        $('form.commentForm').validate();

    });

    //for credit card option select
    var payment = document.getElementById('paymentMethod');
    var form = document.getElementById('creditCardForm');
    var btnNext = document.getElementById('btn_payment_details');


    function selectedPaymentName() {
        var subjectIdNode = document.getElementById('paymentMethod');
        var value = subjectIdNode.options[subjectIdNode.selectedIndex].text;
        var res = document.getElementById('confSelectedPaymentMethod');
        res.innerHTML = value;

        switch (payment.options.selectedIndex) {
            case 0:
                form.style.display = "none";
                break;
            case 1:
                form.style.display = "none";
                break;
            case 2:
                form.style.display = "block";
                /*not sure which results you want here*/
                break;
            default:
                break;

        }


    }


    function selectedSubjectName() {
        var subjectIdNode = document.getElementById('branchSelect');
        var value = subjectIdNode.options[subjectIdNode.selectedIndex].text;
        var res = document.getElementById('confSelectedBranch');
        res.innerHTML = value;
    }


    function getInputValue() {

        //Selecting the input element and get its value
        var lName = document.getElementById("lName").value;
        var fName = document.getElementById("fName").value;
        var address = document.getElementById("delivAdd").value;
        var cn = document.getElementById("contactNo").value;
        var email = document.getElementById("email").value;
        var estPrice = document.getElementById("estPrice").value;

        //Set Values
        document.getElementById("confFullName").innerHTML = lName + ", " + fName;
        document.getElementById("confDelAddress").innerHTML = address;
        document.getElementById("confContactNo").innerHTML = cn;
        document.getElementById("confEmail").innerHTML = email;
        document.getElementById("confEstPrice").innerHTML = "PHP " + estPrice;


        var l = $('.prodName').length;
        //Initialize default array
        var result = [];

        for (i = 0; i < l; i++) {
            //Push each element to the array
            result.push($('.prodName').eq(i).val());
        }

        document.getElementById("confProd").innerHTML = result;

        var a = $('.quant').length;
        //Initialize default array
        var quantResult = [];

        for (j = 0; j < a; j++) {
            //Push each element to the array
            quantResult.push($('.quant').eq(j).val());
        }

        document.getElementById("confQuantity").innerHTML = quantResult;

        var b = $('.mil').length;
        //Initialize default array
        var milResult = [];

        for (k = 0; k < b; k++) {
            //Push each element to the array
            milResult.push($('.mil').eq(k).val());
        }

        document.getElementById("confMil").innerHTML = milResult;

    }

    // display file name
    updateList = function () {
        //get input
        var input = document.getElementById("customFile");
        var secondInput = document.getElementById("validIdFile");

        //get output
        var output = document.getElementById('confPres');
        var secondOutput = document.getElementById('confValId');


        for (var i = 0; i < input.files.length; ++i) {
            output.innerHTML = input.files.item(i).name;
        }

        for (var i = 0; i < secondInput.files.length; ++i) {
            secondOutput.innerHTML = secondInput.files.item(i).name;
        }

        //compute file count per input field
        var numFiles = $("input:file")[0].files.length;
        var secNumFiles = $("input:file")[1].files.length;
        document.getElementById("confNoOfFiles").innerHTML = numFiles + secNumFiles;

    }

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
